<div id="edit_task_lists">

  <%=form_for @task_list do |f| %>
  <div>
    <%=f.label :name, "Title"%>
    <%=f.text_field :name%>
  </div>
  <div>
    <%=f.submit "Edit Task List"%>
  </div>

  <%end%>

</div>

