<div id="index_task_lists">

<h1>My Lists</h1>
<%=link_to "Create Task List", "/task_lists/new"%>

<% @task_lists.each do |task_list| %>

  <section class="task-list">
    <h1><%= task_list.name %></h1>
    <%= link_to "Edit", "/task_lists/#{task_list.id}/edit"%>
  </section>

<% end %>
</div>